@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    --cim_color: black;
    --cim_linear1: rgba(36, 30, 30, 0.863);
    --cim_linear2: rgb(255, 255, 255);
    --menu_bgcolor: rgb(36, 30, 30);
    --menu_linkcolor: rgb(0, 136, 57);
    --menu_hovercolor: rgb(22, 189, 92);
    --menu_negyzetcolor: rgb(22, 189, 92);
}
html {
    font-family: 'Space Mono', monospace, sans-serif;
    /*background-image: url(card-img/hatter.jpg);*/
    background: rgb(22, 189, 92);
    background: radial-gradient(circle, rgb(22, 189, 92) 0%, rgb(0, 102, 43) 100%);
    background-repeat: repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
header{
    position: relative;
    height: 12.75vw;
    background-color: white;
    background: linear-gradient(to top, var(--cim_linear1) 0%, var(--cim_linear2) 30%);
}

#reset {
    margin-top: 1%;
}
  h1{
    text-align: center;
    font-size: 4vw;
    color: var(--cim_color);
}
body {
    margin: 0px;
    color: white;
}


.texts * {
    display: inline;
}

.kartyalap {
    width: auto;
    height: 250px;
}

#jatek {
    display: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001021031301;
    cursor: pointer;
}

#eredmeny {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#double,
#split {
    display: none;
}

.chip {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.chip:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;

}

.chipbutton {
    border: none;
    background: none;
}

#modeselector {

    
    padding: 25px 30px !important;
    

}

#deal,
#allin,#modeselector, .ingamebuttons {
    border-radius: 15px;
    padding: 25px 50px;
    border: 3px solid gold;
    background: green;
    font-weight: bold;
    color: gold;
    display: inline;
}

.operator {
    font-family: inherit;
}

#gombok .operator {
    display: inline;

}


#insurance {
    display: none;

}

#hatlap {
    transform-style: preserve-3d;
    transition: 0.6s;
    transform: rotateY(180deg);
}





html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;

    flex-direction: column;
}

#header {
    text-align: center;
}

#contents   {
    display: none;
    flex-direction: column;
    align-items: center;
    min-height: 110vh;
}
#utmutato {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texts {

    display: flex;
    justify-content: center;
    
    font-size: 2.5vw;
}


#bet, #bank {
    margin: 2%!important;
}

#gombok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gombok button {
    margin: 5px;
}

#container {
    justify-content: space-between !important;
    display: flex;
    width: 50%;
}


.ingametxt * {
    display: inline;
    
}

#dealer,#jatekos,#buttoncontainer{
    text-align: center;
}

.menu{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    background-color: var(--menu_bgcolor);

    top: 0;
    z-index: 999;
      }
.menu a{
    color: var(--menu_linkcolor);
    text-decoration: none;
    font-size: 2vw;
    font-variant: small-caps;
    font-weight: 600;
    width: 23.5%;
    text-align: center;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.menu a:hover{
    color: var(--menu_hovercolor);
}

.menu .negyzet{
    width: 8px;
    height: 8px;
    background: var(--menu_negyzetcolor);
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.2s ease-in-out;
}

.menu :nth-child(1):hover ~ .negyzet{
    transform: translateX(9.5vw);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu :nth-child(2):hover ~ .negyzet{
    transform: translateX(29vw);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu :nth-child(3):hover ~ .negyzet{
    transform: translateX(48vw);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu :nth-child(4):hover ~ .negyzet{
    transform: translateX(67.5vw);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu .icon {
    display: none;
  }

  @media screen and (max-width: 620px){
    
    .menu a{
        width: 100%;
        font-size: 20px;
    }
    .negyzet{
        display: none;
    }
  }
  @media screen and (max-width: 416px){
    .menu > a{
        display: none;
    }
    .menu a.icon {
        position: absolute;
        font-size: 20px;
        top: 48px;
        right: 20px;
        display: block;
        width: auto;
        
      }
      .menu{
          height: 15px;
      }

  }
  @media screen and (max-width: 416px) {
    .menu.responsive {
       
        height: 120px;
        padding-top: 40px;
        
    }
    .menu.responsive .icon {
      position: absolute;
      top: 48px;
      right: 20px;
      
    }
    .menu.responsive a {
      display: block;
      text-align: left;
      font-size: 20px;
    }
  }




  #utmutato {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: gold;

    border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#utmutato h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#utmutato ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#utmutato li {
    background-color: darkgreen;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#utmutato li:first-child {
    margin-top: 10px;
}

#utmutato a {
    text-decoration: none;
}

#ertettem {
    margin-left: auto;
    display: flex;
}

