@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html{
    font-family: 'Space Mono', monospace, sans-serif;
    background-image: url(card-img/hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px;
    background-color: #009900;
    margin: 0px;
}

body {
    margin: 0px;
}
.kartyalap {
    width: 250px;
    height: 363px;
}

#jatek {
    display: none;
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }

#eredmeny {
position: absolute;
top: 50%;
left: 50%;
font-size: 50px;
color: white;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

#double, #split {
    display: none;
}

.chip {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.chip:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;

}

button:has(.chip) {
    border:none;
    background: none;
}

#modeselector{
    
    border-radius: 15px;
    padding: 15px 30px;
    border:3px solid gold;
    background: green;
    color: gold;
    font-size: 150%;
    font-weight: bold;
  
}

#deal,#allin{
    border-radius: 15px;
    padding: 25px 50px;
    border:3px solid gold;
    background: green;
    font-weight: bold;
    color: gold;
}

.operator {
    font-family: inherit;
}

#gombok .operator{
    display: inline;

}


#insurance{
    display:none ;

}

#hatlap
{
    transform-style: preserve-3d;
    transition: 0.6s;
    transform: rotateY(180deg);
}
